
.flex-container {
  padding: 0.5em;
  display: flex;
  min-height: 250px;
  justify-content: center;
}

.flex-container-reverse {
  padding: 0.5em;
  display: flex;
  min-height: 250px;
  justify-content: center;
  flex-direction: row-reverse;
}

.art-side {
  min-width: 250px;
  max-width: 600px;
  width: 50%;
  padding-top: 1em;
  padding-bottom: 0;
  transition: 0.3s ease;
}

.art-side:hover {
  padding-top: 0;
  padding-bottom: 1em;
  transition: 0.1s ease-out;
}

.description-side {
  min-width: 200px;
  max-width: 500px;
  color: white;
  padding: 1em;
}

.description-side-reverse {
  min-width: 200px;
  max-width: 500px;
  padding: 1em;
  text-align: right;
  color: white
}
