
.flex-container {
  padding: 0.5em;
  max-width: 500px;
}

.art-side {
  min-width: 250px;
  max-width: 450px;
  padding-top: 1em;
  padding-bottom: 0;
  transition: 0.3s ease;
}

.art-side:hover {
  padding-top: 0;
  padding-bottom: 1em;
  transition: 0.1s ease-out;
}

.description-side {
  text-align: center;
}

.larger {
  font-weight: 700;
  font-size: calc(1vw + 1vh + 2vmin);
}

.smaller {
  font-size: calc(1vw + 1vh + 0.5vmin);
  margin: 0.3em 0 0 0;
}