
.events-list {
  list-style: none;
  padding: 0;
}

.events-list-item {
  margin-bottom: 2em;
  line-height: 2em;;
}

.event-title-style {
  text-decoration: underline;
  font-size:1.2em;
}

.location-style {
  font-size: 1.2em;
}

.anchor-style {
  color: black;
}

.no-margins {
  margin: 0;
  font-size: 1.2em;
}