body {
  font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;  
  background: white url('../images/bold-colors.jpg') center top no-repeat;
  background-size: 100%
}

h1, h2, h3 {
  font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
}

nav {
  margin-right: 1em;
  margin-top: .5em;
}

.navbar > .container-fluid {
  align-items: flex-start;
}

.navbar-brand {
  margin: 0 .8em;
  font-size: calc(1vw + 1vh + 3vmin);
  padding-top: 1em;
  font-weight:700;
}

.nav-link {
  margin-left: .8em;
  font-size: calc(1vw + 1vh + .5vmin);
}

.landing-zone {
  min-height: 500px;
  padding-bottom: 2em;
}

.landing-piece img {
  object-fit: contain;
}

.quote {
  font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
  font-size: calc(1vw + 1vh + 2vmin);
  margin-top: 40vh;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5), -2px -2px rgba(255, 255, 255, 0.5);
}

.framed-artwork {
  background-color: white;
  border: 1em solid black;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}