body {
  background: black url('../images/palms-trees.jpg') center top no-repeat ;
  background-size: 100%
}

h1, h2, h3 {
  font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
}


nav {
  color: white;
  margin-right: 2em;
}

.navbar-brand {
  margin: 0 .8em;
  color: white;
}

.nav-link {
  margin-left: .8em;
}

.landing-zone {
  color: white;
  min-height: 500px;
  padding-bottom: 2em;
}

.landing-piece img {
  object-fit: contain;
}

.quote {
  font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5em;
  text-align: center;
  color:rgb(211, 160, 83);
  margin: 1.5em 1em 2em 1em;
}

.about-zone {
  background-color: black;
  color: white;
  min-height: 300px;
  padding: 1em;
}

#about-Instagram {
  color: white
}

.framed-artwork {
  background-color: white;
  border: 1em solid black;
}